button {
    font-family: 'JR';
    padding: 5px 20px 5px 20px;
    background-color: #65b24a;
    color: #fff;
    border-radius: 10px;
    font-size: 24px;
    margin-right: 15px;
    border-color: #65b24a;
    border-style: solid;
    letter-spacing: 1pt;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
}
button:hover{
    background:#2d4f98;
    color: #fff;
    border-radius: 10px;
    border-color: #fff;
}
button > a {
    outline: none;
    text-decoration: none;
    color: #fff;
}
.title {
    padding: 200px 100px;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100 auto;
    position: relative;
    min-height: 500px;
}
.title > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.title .marca {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(45, 79, 152, 0.9);
    width: 100%;
    height: 100%;
}
.title > span {
    position: relative;
    font-family: 'JLI';
    font-size: 22px;
}
.title > h2 {
    position: relative;
    font-family: 'JBD';
    font-size: 50px;
}
.articules {
    padding: 20px 300px;
    margin-bottom: 40px;
}
.articules > .escritor {
    display: flex;
}
.articules > .escritor > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
}
.articules > .escritor > div {
    margin-top: 50px;
    display: grid;
    height: 100px;
}
.articules > .escritor > div > label{
    color: #2d4f98;
    font-family: 'JBD';
    height: 20px;
    font-size: 24px;
}
.articules > .escritor > div > span{
    color: #2d4f98;
    font-family: 'JR';
}

.articules > .list > div > div > img {
    margin-top: 50px;
    width: 100%;
}

.articules > .list > div > div {
    margin-top: 50px;
} 

.articules > .list > div > iframe {
    margin-top: 50px;
    min-height: 300px;
    max-height: 500px;
} 

.articule-list {
    padding: 20px 100px;
    width: 100%;
}

h1{
    color: #E68D1A;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.articule-list > div {
    width: 100%;
}
.articule-list > div > div{
    display: inline-flex;
    width: 50%;
}

.articule-list > div > div > div.image {
    padding: 20px;
    display: flex;
}

.articule-list > div > div > div.image > img{
    object-fit: cover;
    width: 300px;
    height: 350px;
}

.articule-list > div > div > div.infos {
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.07);
    width: 700px;
    height: 300px;
    padding: 10;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: -100px;
    z-index: 0;
    padding-left: 100px;
    text-align: justify;
    font-family: 'JR';
    position: relative;
}
.articule-list > div > div > div.infos > div{
    padding: 20px;
    float: right;
    color: #d12020;
    font-weight: bold;
    font-style: oblique;
}

.articule-list > div > div > div.infos > span{
    margin-top: 1000px;
    color: #000;
    font-weight: bold;
}
.articule-list > div > div > div.infos > h3{
    margin-top: 20px;
    color: #d12020;
    text-align: left;
    font-family: 'JBD';
}
.articule-list > div > div > div.infos > p{
    color: #000;
    text-align: left;
}
.articule-list > div > div > div.infos > button{
    position: absolute;
    background-color: #E68D1A;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    border-color: #E68D1A;
    border-style: solid;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    bottom: 40px;
    cursor: pointer;
}

.articule-list > div > div > div > button:hover {
    color: #E68D1A;
    background-color: #fff;
    cursor: pointer;
}


@media (max-width: 1400px) {
    .articules {
        padding: 20px 200px;
    }
    .articule-list {
        padding: 20px 20px;
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .articules {
        padding: 20px 100px;
    }
    .articule-list {
        padding: 20px 100px;
        width: 100%;
        display: inline-flex;
    }
    .articule-list > div > div{
        width: 50%;
        align-items: center;
        justify-items: center;
        display: inline-block;
    }
    .articule-list > div > div > div.image {
        padding: 20px;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .articule-list > div > div > div.infos {
        margin-top: -30px;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        justify-items: center;
    }
    .articule-list > div > div > div.infos > button{
        left: 50px;
    }
    .articule-list > div > div > div.infos > div{
        margin-top: 50px;
    }
}

@media (max-width: 1100px) {
    .articule-list {
        padding: 20px 20px;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .articule-list {
        padding: 20px 20px;
        width: 100%;
    }
    .articule-list > div {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .articule-list > div > div{
        display: flex;
        width: 80%;
    }
    .articule-list > div > div > div.infos {
        margin-left: -100px;
    }
    .articule-list > div > div > div.infos > button{
        left: 100px;
    }
}


@media (max-width: 800px) {
    .articules {
        padding: 20px 50px;
    }
    .articule-list {
        padding: 20px 20px;
        width: 100%;
    }
    .articule-list > div {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .articule-list > div > div{
        display: flex;
        width: 100%;
    }
    .articule-list > div > div > div.infos > button{
        left: 100px;
    }
}

@media (max-width: 750px) {
    .articule-list {
        padding: 20px 20px;
        width: 100%;
    }
    .articule-list > div {
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .articule-list > div > div{
        display: grid;
        width: 100%;
    }
    .articule-list > div > div > div.infos > button{
        left: 100px;
    }
}

@media (max-width: 400px) {
    .articules {
        padding: 20px 10px;
    }
    .articule-list {
        padding: 20px 10px;
        width: 100%;
    }
}