@import "../../../../styles.scss";
.serpyme {
    padding: 2% 0 4%;
    @media(max-width:768px) {
        padding: 32px 16px;
    }
    @media(min-width:1720px){
        padding: 2% 6% 4%;
    }
    .logo-product {
        margin: 0 auto 24px;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: $terciary-color;
        margin-bottom: 0;
        text-align: center;
        @media(max-width:768px) {
            font-size: 24px;
            line-height: 32px;
            text-align: left;
        }
    }
    .line-title {
        height: 4px;
        width: 150px;
        background-color: $primary-color;
        margin: 24px auto;
        @media(max-width:768px) {
            height: 2px;
            width: 75px;
            margin: 16px 0
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 100;
        color: $terciary-color;        
        text-align: center;
        width:70%;
        margin: 0 auto 24px;
        @media(max-width:768px) {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            width:100%;
        }
    }
    .box-bullet {
        padding: 8px;
        margin: 16px 0;
        border-radius: 8px;  
        .iconBullet {
            width: 20%;
            display: inline-block;
            vertical-align: top;
            i {
                color: $primary-color;
                font-size: 32px;
            }
        }
        .txtBullet {
            width: 80%;
            display: inline-block;            
            h4 {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                color: $terciary-color;
                text-align: left;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: $terciary-color;
                text-align: left;
                width: 100%;
                @media(max-width:768px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.app {
    background-color: $primary-color;
    padding: 4% 0;
    @media(max-width:768px) {
        padding: 70px 16px 24px;
    }
    @media(min-width:1720px){
        padding: 4% 12%;
    }
    img {
        width: 68%;
        /* display: block; */
        margin: 0 auto;
        position: absolute;
        top: -157px;
        left: 0;
        right: 0;
        bottom: 0;
        @media(max-width:768px) {
            top: -183px;
        }
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: $white;
        margin-bottom: 8px;
        text-align: left;
        @media(max-width:768px) {
            font-size: 24px;
            line-height: 32px;
            text-align: left;
        }
    }
    .line-title {
        height: 4px;
        width: 100px;
        background-color: $white;
        margin: 24px 0;
        @media(max-width:768px) {
            height: 2px;
            width: 75px;
            margin: 16px 0
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 100;
        color: $white;        
        text-align: left;
        width:100%;
        margin: 0 auto 24px;
        @media(max-width:768px) {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            width:100%;
        }
    }
}

.plans {
    padding: 4% 0;
    @media(max-width:768px) {
        padding: 32px 16px 16px;
    }
    @media(min-width:1720px){
        padding: 4% 12%;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: $terciary-color;
        margin-bottom: 0;
        text-align: center;
        @media(max-width:768px) {
            font-size: 24px;
            line-height: 32px;
            text-align: left;
        }
    }
    .line-title {
        height: 4px;
        width: 150px;
        background-color: $primary-color;
        margin: 24px auto;
        @media(max-width:768px) {
            height: 2px;
            width: 75px;
            margin: 16px 0
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 100;
        color: $terciary-color;        
        text-align: center;
        width:70%;
        margin: 0 auto 24px;
        @media(max-width:768px) {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            width:100%;
        }
    }
    .box-plan {
        border: 1px $light-gray solid;
        border-radius: 8px;
        background-color: $white;
        overflow: hidden;
        @media(max-width:768px) {
            margin-bottom: 24px;
        }
        h3 {
            background-color: $primary-color;
            padding: 12px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: $white;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: $txt-gray;
            text-align: center;
            margin: 16px auto;
            width: 100%;
            &.percentage {
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                @media(max-width: 768px){
                    padding: 0 30px;
                }
            }
            &.tym {
                font-size: 13px;
                line-height: 19px;
                font-weight: 300;
                margin: 4px 0 24px;
            }
        }
        .select-plan {
            width: 85%;
            display: block;
            margin: 0 auto;
            .custom-plan {
                width: 33%;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                &:hover {
                    opacity: .7;
                }
                .circle-plan {
                    background-color: $primary-color;
                    color: #fff;
                    font-size: 22px;
                    padding: 11px;
                    border-radius: 12px;
                    margin: 0 auto 16px;
                    &.basic {
                        background-color: $basic;
                    }
                    &.silver {
                        background-color: $silver;
                    }
                    &.gold {
                        background-color: $gold;
                    }
                }
                h4 {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $txt-gray;
                    text-transform: uppercase;
                }
            }
        }
        .line-separate {
            height: 1px;
            width: 80%;
            background-color: #CECECE;
            margin: 8px auto 16px;
        }
        .box-price-complete {    
            //display: flex;
            // flex-wrap: nowrap;
            // overflow-x: auto;
            // overflow-y: hidden;        
            .box-price {   
                padding: 0 24px 16px;
                display: none;
                // flex: 0 0 auto;
                width: 100%;
                background-color: $white;
                &.active {
                    display: block;
                }
                &:first-child {
                    display: block;
                }
                &.margin-1 {
                    margin-left: 0;
                }
                &.margin-2 {
                    margin-left: -348px;
                }
                &.margin-3 {
                    margin-left: -694px;
                }
                h3 {
                    background-color: transparent;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 700;
                    color: $txt-gray;
                    text-align: center;
                    padding:0;
                    @media(max-width: 768px){
                        font-size: 26px;
                    }
                    span {
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 100;
                        @media(max-width: 768px){
                            font-size: 18px;
                        }
                    }
                }
                .btn-aser {
                    @media(max-width: 768px){
                        margin-bottom: 8px;
                    }
                }
                .stripe-col {
                    width: 70%;
                    margin: 0 auto;
                    @media(max-width: 768px){
                        width: 100%;
                    }
                    .imgStripe {
                        width: 15%;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5%;
                        img {
                            width: 25px;
                            height: 25px;
                            overflow: hidden;
                            border-radius: 100%;
                            margin: 0 auto;
                            display: block;
                            @media(max-width: 768px){
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .txtStripe {
                        width: 80%;
                        display: inline-block;
                        vertical-align: middle;
                        p {
                            font-size: 13px;
                            line-height: 19px;
                            font-weight: 300;
                            color: $txt-gray;
                            text-align: left;
                            margin: 0;
                        }
                    }
                }
            } 
        }           
    }
}

.sura {
    @media(max-width: 768px){
        padding: 0 24px;
    }
    img {
        width: 40%;
        display: block;
        margin: 16px auto 24px;
        @media(max-width: 768px){
            width: 100%;
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: $txt-gray;
        text-align: left;
        margin: 16px auto;
        width: 100%;
        span {
            font-weight: 700;
        }
    }
    .box-bullet {
        padding: 8px;
        margin: 16px 0;
        border-radius: 8px;  
        .iconBullet {
            width: 20%;
            display: inline-block;
            vertical-align: top;
            i {
                color: $secondary-color;
                font-size: 32px;
            }
        }
        .txtBullet {
            width: 80%;
            display: inline-block;            
            h4 {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                color: $terciary-color;
                text-align: left;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: $terciary-color;
                text-align: left;
                width: 100%;
                @media(max-width:768px){
                    margin-bottom: 0;      
                }
            }
        }
    }
}

.why {
    padding: 4% 0;
    background: url(../../../../assets/images/us/banner-main-us2.jpg);
    background-size: cover;
    position: relative;
    @media(max-width:768px) {
        padding: 32px 16px;
    }
    @media(min-width:1720px){
        padding: 4% 12%;
    }
    .overlay-black {
        background-color: rgba($color: $black, $alpha: 0.85);
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
    }
    h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: $white;
        margin-bottom: 0;
        text-align: center;
        @media(max-width:768px) {
            font-size: 24px;
            line-height: 32px;
            text-align: left;
        }
    }
    .line-title {
        height: 4px;
        width: 150px;
        background-color: $white;
        margin: 24px auto;
        @media(max-width:768px) {
            height: 2px;
            width: 75px;
            margin: 16px 0
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 100;
        color: $white;        
        text-align: center;
        width:70%;
        margin: 0 auto 24px;
        @media(max-width:768px) {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            width:100%;
        }
    }
    .box-bullet {
        padding: 8px;
        margin: 16px 0;
        border-radius: 8px;  
        .iconBullet {
            width: 20%;
            display: inline-block;
            vertical-align: top;
            i {
                color: $primary-color;
                font-size: 32px;
            }
        }
        .txtBullet {
            width: 80%;
            display: inline-block;            
            h4 {
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                color: $terciary-color;
                text-align: left;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: $terciary-color;
                text-align: left;
                width: 100%;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            border: none;
            border-radius: 16px;
            .modal-header {
                align-items: center;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                img {
                    height: 32px;
                    margin-right: 16px;
                }
                h5 {
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 700;
                    color: $white;
                }
                &.basic {
                    background-color: $basic;
                }
                &.silver {
                    background-color: $silver;
                }
                &.gold {
                    background-color: $gold;
                }
            }
            .modal-body {                
                img {
                    width: 100%;
                    margin-bottom: 24px;
                    border: 1px solid $super-light-gray;
                }
                ul {
                    padding-right: 24px;
                    li {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        color: $txt-gray;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 300;
                    color: $txt-gray;
                    span {
                        font-weight: 700;
                    }
                }
                .box-form {
                    padding: 24px;
                    h3 {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        color: $txt-gray;
                        border-bottom: 1px #ccc solid;
                        padding-bottom: 16px;
                        margin-bottom: 24px;
                        span {
                            color: $primary-color;
                            font-weight: 700;
                        }
                    }
                    p {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 300;
                        color: $txt-gray;
                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}