<section class="error-404">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 align-self-center">
                <img src="assets/images/conventions/web-construction-01.svg" alt="Page Not Found - aSERseguridad" title="Page Not Found - aSERseguridad" />
            </div>
            <div class="col-12 col-md-6 align-self-center">
                <h2>Próximamente </h2>
                <p>Estamos trabajando para ofrecerte los mejores eventos en seguridad y salud en el trabajo</p>
                <a class="btn-aser btn-red w-40-btn" routerLink="/" title="home">
                    <span>Volver al inicio</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>