$primary-color:#d12020;
$primary-color-2: #FC0303;
$primary-color-hover:#901111;
$secondary-color:#E68D1A;
$secondary-color-hover: #b56e13;
$terciary-color: #4f4f4f;
$light-main:#EFD3E6;
$midc: #632678;
$blue:#08478E;
$mid-blue:#0D6EB6;
$light-blue:#EBF0F6;
$clear-blue: #E9F2F8;
$bg-alert: #D7EBF8;
$bg-main:#F5F8FB;
$midc:#632678;
$white:#ffffff;
$black:#000000;
$aprove: #3F9B53;
$check:#00CC99;
$basic:#c1bfbd;
$silver: #8C8C8C;
$gold:#CBA135;
// $neg:
$bg-dark: hsla(219, 3%, 34%, 1);
$txt-gray:#767579;
$txt-gray-2:#757575;
$txt-alert: #0077B2;
$mid-gray:#71716E;
$gray: #999999;
$dark-gray: #54565A;
$light-gray:#CECECE;
$super-light-gray:#F2F2F2;
$super-light-gray-2:#e6e6e6;
$error:hsla(318, 66%, 40%, 1);
$form-gray:hsla(0, 0%, 50%, 1);
$form-placeholder:hsla(0, 0%, 69%, 1);
$form-input-border: hsla(210, 14%, 83%, 1);