<section class="purpose">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestro proposito</h2>
                <div class="line-title"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Misión: </h4>
                        <p>Promover la seguridad y salud en el trabajo de nuestros clientes. Garantizando la creación de ambientes de trabajo seguros, permitiendo mayor desarrollo social, industrial y económico con talento humano calificado y comprometido</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Visión:</h4>
                        <p>Ser la compañía elegida por nuestra innovación, soluciones y servicios.<br>
                            Ser reconocida por la calidad humana y profesional de nuestros trabajadores y por nuestra contribución a la seguridad y salud en el trabajo en nuestros clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Equipo directivo</h2>
                <div class="line-title"></div>
            </div>
            <div class="col-12 col-md-3">
                <div class="box-team">
                    <img src="assets/images/us/ceo.svg" alt="ceo/director general" />
                    <h4>CEO / DIRECTOR GENERAL</h4>
                    <p>Proceso Estratégico de Planeación y Crecimiento de la Organización</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="box-team">
                    <img src="assets/images/us/finad.svg" alt="ceo/director general" />
                    <h4>CFOA / DIRECTOR FINAD</h4>
                    <p>Proceso Operativo y Soporte, enfocado a la gestión financiera y administrativa de la Organización</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="box-team">
                    <img src="assets/images/us/cmo.svg" alt="ceo/director general" />
                    <h4>CMO / DIRECTOR COMERCIAL</h4>
                    <p>Proceso Estratégico, gestión de ventas y fidelización de clientes de la Organización, enfocado al buen nombre en los medios sociales</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="box-team">
                    <img src="assets/images/us/tecing.svg" alt="ceo/director general" />
                    <h4>COO / DIRECTOR OPERATIVO TECING</h4>
                    <p>Proceso Operativo, enfocado en la gestión técnica y control de producto enfocado a prestación de los servicios a los clientes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="purpose">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Valores</h2>
                <div class="line-title"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Responsabilidad laboral: </h4>
                        <p>Cuanto mayor sea el nivel de <span>responsabilidad</span> de nuestros empleados, mayor será su posición en nuestra empresa, nuestro cliente y su familia</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Competitividad e Innovación:</h4>
                        <p>Nuevas ideas definidas internamente en una cultura abierta de ambiente participativo dando <span>escalabilidad</span> a nuestros clientes y trabajadores</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-group" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Enfoque en los Clientes:</h4>
                        <p>Dar valor a nuestros clientes con la satisfacción de nuestros servicios a <span>precios competitivos</span> evaluando constantemente la percepción del mercado</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box-bullet">
                    <div class="iconBullet">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="txtBullet">
                        <h4>Compromiso con la Calidad, SST y Ambiente:</h4>
                        <p>Compromiso con la seguridad y salud en el trabajo, ambiente y calidad generando una cultura integral y la <span>sostenibilidad</span> de nuestra organización.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="venues">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Nuestras sedes</h2>
                <div class="line-title"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <img alt="Nuestars sedes - aSERseguridad" class="graphic-aser" src="assets/images/us/mapa-colombia-aser.svg" /> 
            </div>
            <div class="col-md-3 col-sm-12 col-12">
                <accordion >
                    <accordion-group heading="Regional Norte" panelClass="customClass" [isOpen]="isFirstOpen" >
                        <div class="text-accordion">
                            <ul>
                                <li><strong>Barranquilla</strong></li>
                                <li><strong>Cartagena</strong></li>
                                <li><strong>Cúcuta</strong></li>
                                <li><strong>Montería</strong></li>
                                <li><strong>Rioacha</strong></li>
                                <li><strong>San Andrés</strong></li>
                                <li><strong>Santa Marta</strong></li>
                                <li><strong>Sincelejo</strong></li>
                                <li><strong>Valledupar</strong></li>
                            </ul>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Regional Oriente" panelClass="customClass" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <ul>
                                <li><strong>Mitú</strong></li>
                                <li><strong>Villavicencio</strong></li>
                                <li><strong>Yopal</strong></li>
                            </ul>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Regional Cafetera" panelClass="customClass" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <ul>
                                <li><strong>Armenia</strong></li>
                                <li><strong>Manizales</strong></li>
                                <li><strong>Pereira</strong></li>
                            </ul>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div class="col-md-3 col-sm-12 col-12">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Regional Central" panelClass="customClass" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <ul>
                                <li><strong>Bogotá</strong></li>
                                <li><strong>Bucaramanga</strong></li>
                                <li><strong>Ibagué</strong></li>
                                <li><strong>Medellín</strong></li>
                                <li><strong>Tunja</strong></li>
                            </ul>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Regional Sur" panelClass="customClass" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <ul>
                                <li><strong>Cali</strong></li>
                                <li><strong>Neiva</strong></li>
                                <li><strong>Pasto</strong></li>
                                <li><strong>Florencia</strong></li>
                                <li><strong>Leticia</strong></li>
                            </ul>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>

<section class="why">
    <div class="overlay-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>¿Por qué aSERseguridad?</h2>
                <div class="line-title"></div>
            </div>
            <div class="col-12">
                <img src="assets/images/us/info-us-porque-01.svg" alt="¿Por qué aSERsegurdiad" />
            </div>
        </div>
    </div>
</section>
