@import "assets/variables/colors";
@import "assets/variables/buttons";
@import "assets/variables/forms";

body {
    font-family: 'Roboto', sans-serif;
    a {
      &:hover {
        text-decoration: none;
      }      
    }
    .whatsapp-aser {
        position: fixed;
        z-index: 1090;
        left: 25px;
        bottom: 20px;
        width: 60px;
        @media(max-width:768px){
          width: 59px;
          left: 24px;
          bottom: 16px;
      }
    }
}
