<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Consulta Nuestras líneas de servicios" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a routerLink="/ser-pyme-sst">SerPyme SST</a>
                            <a routerLink="/outsourcing-sst">Outsourcing SST </a>
                            <a routerLink="/proveedores-sst">Proveedor SST</a>
                            <a routerLink="/convenciones-sst">Convenciones SST</a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Contacta con oportunidades de venta" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a href="http://www.aserseguridad.co/oportunidades" target="_blank">Visita nuestro portal de ofertas</a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Nuestra comunidad" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a href="https://blog.aserseguridad.co/" target="_blank">Blog</a>
                            <a href="https://clientes.aserseguridad.co/" target="_blank">Casos de éxito: </a>
                            <a href="https://conocimiento.aserseguridad.co/" target="_blank">Base de conocimiento</a>
                            <a href="https://empleo.aserseguridad.co/" target="_blank">Oportunidades de Trabajo</a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Conoce más de nosotros" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <div class="social-top">
                                <a href="https://www.facebook.com/aSERseguridad/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-facebook icon-gray-social"></i>
                                </a> 
                                <a href="https://www.linkedin.com/company/aserseguridadsas/about/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-linkedin icon-gray-social2"></i>
                                </a>
                                <a href="https://twitter.com/aSERseguridad" target="_blank">
                                    <i aria-hidden="true" class="fa fa-twitter icon-gray-social3"></i>
                                </a>
                                <a href="https://www.instagram.com/aserseguridad/" target="_blank">
                                    <i aria-hidden="true" class="fa fa-instagram icon-gray-social5"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=573106979403&text=Bienvenido%20a%20aSERseguridad%2c%20como%20podemos%20ayudarte.%20&source=&data=" target="_blank">
                                    <i aria-hidden="true" class="fa fa-whatsapp icon-gray-social6"></i>
                                </a>
                            </div>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 align-self-center">
                <div class="footer-bottom">
                    <div class="fb-left">
                        <img src="assets/images/footer/favicon-aserseguridad.svg" alt="aSERseguridad" />
                        <p>Copyright © 2020 aSERseguridad DC SAS</p>
                    </div>
                    <div class="fb-right">
                        <a href="https://legal.aserseguridad.co/" target="_blank">Política de privacidad</a>                        
                        <a href="http://www.grupogeos.co/" target="_blank">Empresa del Grupo Empresarial OS</a>        
                        <img src="assets/images/footer/logo-geos.svg" alt="aSERseguridad" />                
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>