<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Consulta Nuestras líneas de servicios" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a routerLink="/ser-pyme-sst" title="SerPyme SST">SerPyme SST</a>
                            <a routerLink="/outsourcing-sst" title="Outsourcing SST ">Outsourcing SST </a>
                            <a routerLink="/proveedores-sst" title="Proveedor SST">Proveedor SST</a>
                            <a routerLink="/convenciones-sst" title="Convenciones SST">Convenciones SST</a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Contacta con oportunidades de venta" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a href="https://mail.aserseguridad.co/meetings/ceo34" target="_blank" rel="noopener" title="Contacta con oportunidades de ventas">
                                <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                Contacta con oportunidades de ventas
                            </a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Nuestra comunidad" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <a href="https://aserseguridad.co/articulos" target="_blank" rel="noopener" title="Blog aSerseguridad">Blog</a>
                            <a href="https://clientes.aserseguridad.co/" target="_blank" rel="noopener" title="Casos de éxito">Casos de éxito: </a>
                            <a href="https://conocimiento.aserseguridad.co/" target="_blank" rel="noopener" title="Base de conocimeinto">Base de conocimiento</a>
                            <a href="https://empleo.aserseguridad.co/" target="_blank" rel="noopener" title="Oportunidades de empleo">Oportunidades de Trabajo</a>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 col-md-3">
                <accordion [isAnimated]="true">
                    <accordion-group heading="Conoce más de nosotros" [isOpen]="isFirstOpen">
                        <div class="text-accordion">
                            <div class="social-top">
                                <a href="https://www.facebook.com/aSERseguridad/" target="_blank" rel="noopener" title="Facebook aSerseguridad">
                                    <i aria-hidden="true" class="fa fa-facebook icon-gray-social"></i>
                                </a> 
                                <a href="https://www.linkedin.com/company/aserseguridadsas/about/" target="_blank" rel="noopener" title="Linkedin aSerseguridad">
                                    <i aria-hidden="true" class="fa fa-linkedin icon-gray-social2"></i>
                                </a>
                                <a href="https://twitter.com/aSERseguridad" target="_blank" rel="noopener" title="Twitter aSerseguridad">
                                    <i aria-hidden="true" class="fa fa-twitter icon-gray-social3"></i>
                                </a>
                                <a href="https://www.instagram.com/aserseguridad/" target="_blank" rel="noopener" title="Instagram aSerseguridad">
                                    <i aria-hidden="true" class="fa fa-instagram icon-gray-social5"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=573106979403&text=Bienvenido%20a%20aSERseguridad%2c%20como%20podemos%20ayudarte.%20&source=&data=" target="_blank" rel="noopener" title="Whatsapp aSerseguridad">
                                    <i aria-hidden="true" class="fa fa-whatsapp icon-gray-social6"></i>
                                </a>
                            </div>
                        </div>
                    </accordion-group>                    
                </accordion>
            </div>
            <div class="col-12 align-self-center">
                <div class="footer-bottom">
                    <div class="fb-left">
                        <img src="assets/images/footer/favicon-aserseguridad.svg" alt="aSERseguridad" title="aSERseguridad" />
                        <p>Copyright © {{year}} aSERseguridad DC SAS</p>
                    </div>
                    <div class="fb-right">
                        <a href="http://www.grupogeos.co/politica-privacidad" target="_blank" rel="noopener" title="Política de privacidad">Política de privacidad</a>                        
                        <a href="http://www.grupogeos.co/" target="_blank" rel="noopener" title="Empresa del Grupo Empresarial OS">Empresa del Grupo Empresarial OS</a>        
                        <img src="assets/images/footer/logo-geos.svg" alt="aSERseguridad" title="aSERseguridad" />                
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>